label,
input,
textarea {
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

label {
  margin-top: 1.25rem;
  padding-bottom: $spacing-s/2;
  line-height: 1.5;
}

input,
textarea {
  padding: 0.25rem $spacing-s;
  border: 2px solid $gray-dark;
  border-radius: 5px;
}

form {
  button.cta {
    float: right;
    font-size: 1.25rem;
  }
}

// input[type="button"] {
//   margin-top: $spacing-l;
//   width: auto;
//   float: right;
//   font-size: 1.25rem;
//
//   @extend .cta;
// }

.form__checkbox {
  display: flex;

  input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: $spacing-m;
  }
}
