h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
  text-rendering: optimizeLegibility;

  @include mq(lg) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;

  @include mq(lg) {
    font-size: 1.75rem;
    line-height: 1.3;
  }
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 700;
}

p {
  margin: 0;
}

sup {
  font-size: 50%;
}
