// UTILITY CLASSES
// All of these have !important because they should always overrule any other style

// Layout Utils

.u-mt0 {
    margin-top: 0 !important;
}
.u-mt1 {
    margin-top: 1rem !important;
}
.u-mt2 {
    margin-top: 2rem !important;
}
.u-mt3 {
    margin-top: 3rem !important;
}
.u-mt4 {
    margin-top: 4rem !important;
}

.u-mb0 {
    margin-bottom: 0 !important;
}
.u-mb1 {
    margin-bottom: 1rem !important;
}
.u-mb2 {
    margin-bottom: 2rem !important;
}
.u-mb3 {
    margin-bottom: 3rem !important;
}
.u-mb4 {
    margin-bottom: 4rem !important;
}

// Text Utilities

.u-align-left {
    text-align: left !important;
}
.u-align-center {
    text-align: center !important;
}
.u-align-right {
    text-align: right !important;
}

// Display Utils

.u-mobile-only {
    @include mq(md) {
        display: none !important;
    }
}
.u-tablet-only {
    @include mq(lg) {
        display: none !important;
    }
}
.u-desktop-only {
    @include mq-down(lg) {
        display: none !important;
    }
}
.u-print-only {
    @media not print {
        display: none !important;
    }
}
