<footer class="footer" role="contentinfo">
    <div class="container">
        <span>&copy; copyright {{ build.timestamp | dateToFormat('yyyy') }}</span>
        <span> | </span>
        <a href="http://github.com/maxboeck/eleventastic">
            <span class="sr-only">View on Github</span>
            {% icon "github" %}
        </a>
    </div>
</footer>