<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            🎩 Eleventastic
        </div>
        <div class="header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>