<div id="request-demo-modal" data-modal>
  <div class="container" data-modal-document>
    <h1>
      Request your free demo
    </h1>
    <fieldset>
      <form>
        <label for="name">Your name
          <input id="name" type="name" required>
        </label>
        <label for="email">Your e-mail address
          <input id="email" type="email" required>
        </label>
        <label>Additional comments
          <textarea></textarea>
        </label>
        <input type="button" class="cta" value="Request free demo now">
      </form>
    </fieldset>
  </div>
</div>
