.benefits {
  margin-top: $spacing-xl;
  margin-bottom: $spacing-xl;
  padding-top: $spacing-xl;
  border-top: $border;

  @include mq(lg) {
    margin-top: $spacing-xl*2;
    // padding-top: $spacing-xl;
  }

  h2 {
    text-align: center;
    // margin-top: $spacing-xl;
    //
    // @include mq(lg) {
    //   margin-top: $spacing-l;
    // }
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;

    li {
      margin-top: $spacing-xl;
      text-align: center;
      max-width: 100%;

      h2,
      h3,
      p {
        font-size: 1.25rem;
        line-height: 1.5;
      }

      img {
        margin-bottom: $spacing-l;
      }
    }

    @include mq(md) {
      align-items: flex-start;

      li {
        max-width: 40%;
      }
    }

    @include mq(lg) {
      li {
        max-width: 30%;
      }
    }

  }

  ul.contact__options {
    justify-content: center;

    li {
      margin-top: $spacing-m;
      margin-right: $spacing-s/2;
      margin-left: $spacing-s/2;
    }
  }

  ul.team__other {
    justify-content: center;

    li {
      font-size: 1rem;
      margin-right: 1.666%;
      margin-left: 1.666%;
    }

    &::before {
      display: block;
      content: '&';
      font-size: $spacing-xl;
      font-weight: 700;
      text-align: center;
      flex: 0 0 100%;
      margin-top: $spacing-xl;
    }
  }
}
