.features {
  margin-top: $spacing-xl;
  padding-top: $spacing-xl;
  padding-right: 5%;
  padding-bottom: $spacing-l;
  padding-left: 5%;
  background-color: $brand-gold-light;
  border-radius: 10px;
  text-align: center;

  @include mq(lg) {
    margin-top: $spacing-xl*2;
    padding-top: $spacing-xl*2;
    padding-bottom: $spacing-xl*2;
  }

  h2,
  p {
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-top: $spacing-m;

    @include mq(lg) {
      margin-top: $spacing-l;
    }
  }

  ul {
    display: flex;
    flex-flow: row;
    overflow-x: scroll;
    font-size: 1.25rem;
    line-height: 1.5;
    color: $brand-purple;
    margin-top: $spacing-l;
    margin-right: -5%;
    margin-left: -5%;
    padding-right: 5%;
    padding-left: 5%;

    @include mq(lg) {
      justify-content: center;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }

    li {
      background-color: white;
      border-radius: 25px;
      padding: $spacing-s/2 $spacing-m;
      margin: $spacing-s/2;

      @include mq-down(lg) {
        flex: 1 0 auto;
      }
    }
  }
}
