.footer {
    font-size: 0.875rem;
    padding: $spacing-y 0;
    background-color: $gray-lightest;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
