.icon {
    display: inline-block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    fill: currentColor;
    pointer-events: none;
}

// ==========================
// Animated Pure CSS Menu Burger Icon
// ==========================

.menuicon {
    display: block;
    width: 18px;
    height: 16px;
    position: relative;
    transform: rotate(0deg);
    transition: transform 0.3s $animation-curve-default;
    cursor: pointer;
    margin: 0 auto;

    &__bar {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background-color: currentColor;
        transform: rotate(0deg);
        transition: transform 0.25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }
        &:nth-child(2),
        &:nth-child(3) {
            top: 50%;
        }
        &:nth-child(4) {
            top: 100%;
        }
    }

    // Active State: Transform to "X"
    .is-open & {
        top: 2px;
        transform: rotate(-180deg);

        .menuicon__bar {
            &:nth-child(1),
            &:nth-child(4) {
                width: 0;
                top: 50%;
                left: 50%;
            }
            &:nth-child(2) {
                transform: rotate(45deg);
            }
            &:nth-child(3) {
                transform: rotate(-45deg);
            }
        }
    }
}
