.nav {
    display: flex;
    flex-flow: row wrap;

    &__menu {
        justify-content: space-between;
        display: none;
        background-color: #fff;
    }
    &__link {
        display: inline-block;
        margin-top: 0.65rem;
        margin-bottom: 0.65rem;
        margin-right: 1.5em;
        margin-left: 1.5em;
    }
    &__toggle {
        flex: 0 0 10%;
        margin-top: 3px;
        @include button-reset;
    }

    .logo {
      flex: 0 0 90%;
    }

    .nav__item--active a {
      @extend a:hover;
    }

    a:hover.logo,
    a:focus.logo {
      border-bottom: 3px solid transparent;
    }

    @include mq-down(lg) {
      &.is-open &__menu {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        display: block;
        font-size: 1.25rem;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: $spacing-xl;
        width: 100%;
        border-bottom: $border;

        &--actions {
          margin-top: $spacing-m;
        }
      }

      &__link:hover,
      &__link:active {
          border-bottom: 3px solid transparent;
      }
    }

    // @media screen and (min-height: 560px) {
    //   &.is-open &__menu {
    //     height: calc(100vh - 200px);
    //   }
    // }

    @include mq(lg) {
        width: 100%;

        .logo {
          flex: 0 0 auto;
          margin-right: $spacing-m;
        }

        &__link {

        }

        &__toggle {
            display: none;
        }

        &__menu {
            margin-top: 0.65em;
            display: flex;
            background-color: transparent;
            flex: 1 0 auto;

            &--pages,
            &--actions {
              display: flex;
              align-items: baseline;
            }
        }
    }
}
