---
layout: base
permalink: /contact/
tags: sub
eleventyNavigation:
  key: Contact
  order: 4
---

<div class="container">
  <div class="text">
    <h1>Contact</h1>
    <p><a href="&#x6d;&#97;&#x69;&#108;&#x74;&#111;&#x3a;&#x73;&#117;&#x70;&#112;&#x6f;&#114;&#x74;&#64;&#x6b;&#110;&#x6f;&#119;&#x69;&#110;&#x67;&#48;&#x31;&#46;&#x63;&#111;&#x6d;">&#x73;&#117;&#x70;&#112;&#x6f;&#114;&#x74;&#64;&#x6b;&#110;&#x6f;&#119;&#x69;&#110;&#x67;&#48;&#x31;&#46;&#x63;&#111;&#x6d;</a><br/>
      <a href="tel:00498974678081" rel="nofollow">Phone +49 89 74678081</a></p>
    <p>knowing01 GmbH<br/>
    c/o Nikola Müller<br/>
    Am Stadtpark 66<br/>
    D-81243 München</p>
  </div>
</div>

<!-- <div class="container">
  <div class="hero__horizontal">
    <img src={{' /assets/images/bot-contact.svg' | url }} width="677" alt="" class="smallwidth__image" />
    <div class="hero__horizontal--inner">
      <h1>Contact</h1>
      <p><a href="&#x6d;&#97;&#x69;&#108;&#x74;&#111;&#x3a;&#x73;&#117;&#x70;&#112;&#x6f;&#114;&#x74;&#64;&#x6b;&#110;&#x6f;&#119;&#x69;&#110;&#x67;&#48;&#x31;&#46;&#x63;&#111;&#x6d;">&#x73;&#117;&#x70;&#112;&#x6f;&#114;&#x74;&#64;&#x6b;&#110;&#x6f;&#119;&#x69;&#110;&#x67;&#48;&#x31;&#46;&#x63;&#111;&#x6d;</a><br/>
        <a href="tel:00498974678081" rel="nofollow">Phone +49 89 74678081</a></p>
      <p>knowing01 GmbH<br/>
      c/o Nikola Müller<br/>
      Am Stadtpark 66<br/>
      D-81243 München</p>
    </div>
  </div>
</div> -->
