---
layout: base
permalink: /who-we-are/
eleventyNavigation:
  key: Who we are
  order: 2
---

<div class="container">
  <div class="hero__text">
    <div class="hero__text--inner">
      <h1>About knowing<sup>01</sup></h1>
      <p>Established in Munich, 2020, knowing<sup>01</sup> GmbH embarks to change the way life science data is used in research. We aim at helping researchers in industry and academia to make more out of their data, accelerating discoveries and creating impact.</p>
      <p>Our business idea was sparked by the desire to harness technology and abstract recurring tasks of life science data experts in an easy to use software that is used by researchers directly. In December of 2015, we received the m4 award granted by the Ministry of Economic Affairs of Bavaria and managed by Bio-M. Over the following years our core technology has been developed at the Helmholtz Zentrum in Munich in close collaboration with test clients and we were accompanied by accelerator programs, such as the EIT Health LaunchLab 2017.</p>
    </div>
    <ul class="hero__text--logos">
      <li><img src="{{' /assets/images/helmholtzzentrum-muenchen.svg' | url }}" alt="Helmholtz-Zentrum München" /></li>
      <li><img src="{{' /assets/images/unternehmertum.svg' | url }}" alt="unternehmerTUM" /></li>
      <li><img src="{{' /assets/images/science-4-life.svg' | url }}" alt="Science 4 Life" /></li>
      <li><img src="{{' /assets/images/bio-m.svg' | url }}" alt="BioM" /></li>
    </ul>
  </div>
  <div class="benefits">
    <h2>Our team</h2>
    <ul>
      <li>
        <img src={{' /assets/images/nikola-mueller.jpg' | url }} width="250" alt="Dr. Nikola Müller" loading="lazy" />
        <h3>Dr. Nikola Müller</h3>
        <p>Founder & CEO – Nikola is driven by a keen interest to integrate all data.</p>
        <ul class="contact__options">
          <li>
            <a href="&#x6d;&#97;&#x69;&#108;&#x74;&#111;&#x3a;&#x6e;&#105;&#x6b;&#111;&#x6c;&#97;&#x40;&#107;&#x6e;&#111;&#x77;&#105;&#x6e;&#103;&#x30;&#49;&#x2e;&#99;&#x6f;&#109;">E-Mail</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/nikola-mueller">LinkedIn</a>
          </li>
        </ul>
      </li>
      <li>
        <img src={{' /assets/images/katrin-schuler.jpg' | url }} width="250" alt="Katrin Schuler" loading="lazy" />
        <h3>Katrin Schuler</h3>
        <p>CCO – Katrin combines business expertise with passion for driving value for clients.</p>
        <ul class="contact__options">
          <li>
            <a href="&#x6d;&#97;&#x69;&#108;&#x74;&#111;&#x3a;&#x6b;&#97;&#x74;&#114;&#x69;&#110;&#x40;&#107;&#x6e;&#111;&#x77;&#105;&#x6e;&#103;&#x30;&#49;&#x2e;&#99;&#x6f;&#109;" aria-label="Write Katrin an email">E-Mail</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/kmschuler/">LinkedIn</a>
          </li>
        </ul>
      </li>
      <li>
        <img src={{' /assets/images/tanya-kozel.jpg' | url }} width="250" alt="Tanya Kozel" loading="lazy" />
        <h3>Tanya Kozel</h3>
        <p>Tech Lead – Tanya connects our vision with today’s best software technologies.</p>
        <ul class="contact__options">
          <li>
            <a href="&#x6d;&#97;&#x69;&#108;&#x74;&#111;&#x3a;&#x74;&#97;&#x6e;&#106;&#x61;&#64;&#x6b;&#110;&#x6f;&#119;&#x69;&#110;&#x67;&#48;&#x31;&#46;&#x63;&#111;&#x6d;">E-Mail</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/tanya-kozel-24113867/">LinkedIn</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="team__other">
      <li>
        <h3>Fabian Theis – Mentor and scientific advisor</h3>
        <p>Director of ICB, Professor for Mathematics at TUM</p>
      </li>
      <li>
        <h3>Annette C. Leonhard-MacDonald – Mentor</h3>
        <p>CEO at Leonhard-MacDonald Ventures GmbH</p>
      </li>
    </ul>
  </div>
  <div class="teaser">
    <h2>Wanna join our team?</h2>
    <p>We are currently seeking for motivated talents and offer job opportunities to expand our team. If you are interested to work in an agile startup at the interface of life science and big data and wish to build a business from the very beginning <a href="/contact/">send us</a> a short motivation statement and CV.</p>
  </div>
</div>
