---
layout: base
eleventyExcludeFromCollections: true
---

<div class="container">
  <div class="hero__vertical">
    <h1>Error 404</h1>
    <p>We can’t seem to find the page you’re looking for.</p>
    <img src={{' /assets/images/bot-parts.svg' | url }} width="650" alt="" class="smallwidth__image" />
  </div>
</div>
