---
layout: base
tags: home
eleventyNavigation:
  key: Home
---

<div class="container">
  <!-- <div class="hero">
    <h1>We revolutionize the way life science data is used today</h1>
    <div class="actions">
      <p>
        <a href="#">Learn more</a>{% include "request-demo-button.njk" %}
      </p>
    </div>
    <img src={{' /assets/images/screenshot-explore.png' | url }} width="900" alt="" />
  </div> -->
  <div class="hero__horizontal">
    <img src={{' /assets/images/bot-hero.svg' | url }} width="677" alt="" class="smallwidth__image" />
    <div class="hero__horizontal--inner">
      <h1>Easy-to-use software to rapidly boost the value your Life Science data.</h1>
      <p>We revolutionize the way Life Science data is used today.</p>
      <div class="actions">
        <p>
          <a href="#learn-more">Learn more</a>{% include "request-demo-button.njk" %}
        </p>
      </div>
    </div>
  </div>
  <div id="learn-more" class="benefits">
    <ul>
      <li>
        <img src={{' /assets/images/data.jpg' | url }} width="140" alt="" loading="lazy" />
        <h2>Get more out of your data</h2>
        <p>Have all your data talk the same language – with our automatic translation engine.</p>
      </li>
      <li>
        <img src={{' /assets/images/time.jpg' | url }} width="140" alt="" loading="lazy" />
        <h2>Cut weeks out of your timeline</h2>
        <p>Link your data with few clicks – at unprecedented speed.</p>
      </li>
      <li>
        <img src={{' /assets/images/transparency.jpg' | url }} width="140" alt="" loading="lazy" />
        <h2>Transparent analytics</h2>
        <p>Immediately understand what you read and see – no data science training required.</p>
      </li>
    </ul>
  </div>
  <div class="teaser">
    <h2>knowing<sup>01</sup> empowers individual scientists and whole research & development teams to fully realize the value of their data.</h2>
    <img src={{' /assets/images/bot-arms.svg' | url }} width="240" alt="" />
    <p>You are a scientist and want to make more out of all your data?<br/>
      You lead a team and want to fully exploit the value of all your data?</p>
    <div class="actions">
      <p>
        <a href="/product/">Get to know our product</a>{% include "request-demo-button.njk" %}
      </p>
    </div>
  </div>
  <div class="explanation">
    <!-- <h2>knowing<sup>01</sup> offers easy-to-use software to empower you, as a researcher, on a daily basis to realize the full value of your data.</h2>
    <p>Independent of your data science expertise. With a cloud-based, modular SaaS setup we accommodate a large variety of team needs and budgets.</p> -->
    <div class="explanation__image--right">
      <img src={{' /assets/images/insight-gap.png' | url }} width="700" alt="" loading="lazy" />
      <div>
        <h2>The insight gap</h2>
        <p>The amount of data generated in Life Sciences is exploding. The need for data science skills is skyrocketing. Deriving real insights from the plethora of heterogenous data in often complex biomedical questions poses a huge challenge. Your data only reaches its full value when set into context. We help you meet the challenge with easy but powerful software to help closing the insight gap that exists today.</p>
      </div>
    </div>
    <div class="explanation__image--left">
      <img src={{' /assets/images/speed.png' | url }} width="700" alt="" loading="lazy" />
      <div>
        <h2>No more limits</h2>
        <p>At knowing<sup>01</sup>, we thrive to enable every researcher around the world to quickly and easily link all available data. Cut month out your project timelines to finally have more capacity to tackle the challenges in your area of expertise. With us, you will never be limited by the number of files and information you need to search and link.</p>
      </div>
    </div>
    <div class="explanation__image--right">
      <img src={{' /assets/images/endless-bio-data-types.svg' | url }} width="700" alt="" loading="lazy" />
      <div>
        <h2>Endless bio data types</h2>
        <p>Using our proprietary Cell Map Technology, we are fluent in all bio data types handling the variety of data for you. From Next Generation Sequencing (DNA, DNA modifications, small and large RNAs and more) to mass spectrometry (proteins, metablolites, lipids and more) and beyond. We show and use the hidden links. Every time you analyse your data with us.</p>
      </div>
    </div>
  </div>
  <div class="teaser">
    <h2>You are ready to go!</h2>
    <p><strong>Without setup cost, without installation and in your own knowing<sup>01</sup>-hosted virtual space.</strong></p>
    <div class="actions">
      <p>
        <a href="#">Get quote</a>{% include "request-demo-button.njk" %}
      </p>
    </div>
  </div>
</div>
