// ---------------------------------
// MASTER STYLESHEET INDEX
// ---------------------------------

//--------------------
// UTILITIES
//--------------------

@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

//--------------------
// BASE MODULES
// partials with global scope
//--------------------

@import 'base/fonts';
@import 'base/normalize';
@import 'base/reboot';
@import 'base/layout';
@import 'base/typography';
@import 'base/focus';
@import 'base/utilities';
@import 'base/screenreader';
@import 'base/animation';

//--------------------
// COMPONENTS
// partials with local scope to a component
//--------------------

@import 'components/header';
@import 'components/nav';
@import 'components/footer';
@import 'components/icon';
